.pinned-message {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 12px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
}

.pin-icon {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../assets/icons/fi_anchor.svg");
}
