.user_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notif_circle {
    position: absolute;
    z-index: 2;
    right: -20px;
    top: -20px;
}
